@model IEnumerable<SEKERHOTELS.Models.HotelsModel>

<h2> HOTELS  </h2>

<div class="row">
    <div class="col-md-12">
        <a asp-action="CreateAndUpdate" asp-controller="Hotels" class="btn btn-success">
            Create
        </a>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Hotels Name </td>
                    <td>Star Count </td>
                    <td>City </td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.StarCount</td>
                        <td>@item.City</td>
                        <td>
                            <a asp-action="CreateAndUpdate" asp-controller="Hotels" asp-route-id="@item.Id" class="btn btn-warning btn-sm-2">Details</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>